.navbar-content {
  margin: 0 80px;
  margin-top: -110px;
  display: flex;
  /* gap: 90px; */
  align-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 10px 30px;
  border-radius: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.logo h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 35px;
}
.logo img {
  font-size: 10%;
  width: 40px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 100px;
}

.nav-link a {
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s all ease-in-out;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: black;
}

.nav-link :hover {
  text-decoration: underline red 2px;
  text-autospace: 30px;
}

.nav-right {
  padding-left: 50px;
}

.searchbox input {
  border-radius: 50px;
  padding: 10px 20px;
  padding-right: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.671);
}

.searchIcon {
  position: relative;
  left: -30px;
}

.nav-icon a {
  gap: 100px;
}

.navI {
  padding-left: 10px;
  font-size: 35px;
}

.cart {
  font-size: 50px;
  padding-left: 20px;
}
